* {
    font-family: 'Ubuntu', sans-serif;
    color: white !important;
}

body {
    background-color: whitesmoke;
}

.navbar {
    background-color: #222f3e;
}

.nav-link-btn {
    background-color: #5f27cd;
    border: 3px solid #5f27cd;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-link-btn:hover {
    background-color: #341f97;
    color: white !important;
}

.dropdown-menu {
    background-color: #576574 !important;
}

.category-section {
    background-color: #c8d6e5;
}

.category-name-row,
.topic-title-row {
    background-color: #576574;
}

.category-icon-col,
.post-icon-col {
    width: 5em;
    background-color: #576574;
}

.user-info-col {
    width: 10em;
    background-color: #576574;
}

.forum-icon,
.topic-icon {
    max-height: 50px;
    max-width: 50px;
}

.post-info-row,
.category-info-row,
.post-info-row,
.comment-info-row,
.replies-info-row {
    background-color: #8395a7;
}

a:hover {
    color: #5f27cd !important;
}

.post-extra-info,
.reply-extra-info,
.category-desc,
.category-posts {
    font-size: smaller;
    color: lightgray !important;
}

.user-avatar {
    width: 100px;
    height: 100px;
}

.lr-user-avatar {
    width: 50px;
    height: 50px;
}

.post-content {
    height: 100%;
}

.hitpoints {
    font-size: smaller;
    color: lightgray !important;
}