* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: whitesmoke;
    margin-bottom: 5em;
}

.navbar {
    background-color: #222f3e;
}

.btn {
    background-color: #5f27cd;
    border-radius: 5px;
    color: white;
}

.btn:hover {
    background-color: #341f97;
    color: white !important;
}

.anl,
.link-btn {
    font-weight: bold;
}

.dropdown-menu {
    background-color: #576574 !important;
}

.footer {
    background-color: #c8d6e5;
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}


/* CONTENT 
 posts app */

.category-section {
    background-color: #c8d6e5;
}

.category-name-row,
.topic-title-row {
    background-color: #576574;
}

.category-info-row {
    height: 7em;
}

.category-icon-col,
.post-icon-col {
    width: 5em;
    background-color: #576574;
}

.last-post-user-link:hover {
    color: white !important;
}

.user-info-col {
    width: 10em;
    background-color: #576574;
}

.forum-icon,
.topic-icon {
    max-height: 50px;
    max-width: 50px;
}

.post-nf {
    color: black !important;
}

.post-info-row,
.category-info-row,
.post-info-row,
.comment-info-row,
.replies-info-row,
.new-post-section,
.update-post-section {
    background-color: #8395a7;
}

.comment-content {
    position: relative;
    z-index: 0 !important;
}

.post-comment-div {
    position: relative;
    z-index: -1 !important;
}

.post-comment-div {
    position: relative;
    z-index: 1 !important;
}

.reply {
    position: relative;
    z-index: 2 !important;
}

.info-tags {
    color: black !important;
}

.create-post p,
.create-post h1,
.update-post p,
.update-post h1 {
    color: white !important;
}

.create-post input,
.create-post textarea,
.create-post select,
.create-post option,
.update-post input,
.update-post textarea,
.update-post select,
.update-post option {
    width: 100%;
    color: black !important;
}

.btn-div input {
    color: white !important;
}


/* .post-comment-div textarea,
.post-comment-div label,
.post-reply-div textarea,
.post-reply-div label {
    color: black !important;
} */

a {
    color: white !important;
}

a:hover {
    color: #5f27cd !important;
}

.post-extra-info,
.reply-extra-info,
.category-desc,
.category-posts {
    font-size: smaller;
    color: lightgray !important;
}

.user-avatar {
    width: 100px;
    height: 100px;
}

.lr-user-avatar {
    width: 50px;
    height: 50px;
}


/* .post-content {
    height: 100%;
} */

.hitpoints {
    font-size: smaller;
    color: lightgray !important;
}

.paginator {
    background-color: #576574;
}

.paginator b,
.paginator a {
    color: black !important;
}


/* CONTENT
 accounts app */

.register-table,
.login-table,
.profile-table {
    width: 30em;
    min-height: 30em;
    border-radius: 5px;
    border: 1px solid black;
    color: black !important;
    background-color: #c8d6e5;
}

.login-table input,
.login-table textarea,
.login-table label,
.register-table input,
.register-table textarea,
.register-table label,
.profile-table textarea,
.profile-table small,
.profile-table h3 {
    width: 100%;
    color: black;
}

.profile-table textarea,
#id_fullname {
    width: 100%;
}

.profile-table label,
.profile-table input {
    color: black;
}

#profile_pic-clear_id {
    text-align: left !important;
}

.profile-table a {
    color: #5f27cd !important;
}

.register-table p,
.register-table li {
    color: grey;
}

.login-table .btn,
.register-table .btn,
.profile-table .btn {
    color: white !important;
}

.login-table {
    min-height: 17em;
}

.profile-table {
    min-width: 55em;
}

.error-msg {
    color: red;
}