{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<title>Login</title>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center pt-5">
            <form action="." class="login-table p-2 m-0" method="POST">
                {% csrf_token %}
                <label for="inputUsername" class="form-label pt-3 fw-bold text-uppercase">Username:</label><br> {{form.username}} <br>
                <label for="inputPassword" class="form-label pt-3 fw-bold text-uppercase">Password:</label><br> {{form.password}} <br>
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    <input class="btn" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}