{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<title>Profile</title>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center pt-5">
            <form action="." class="profile-table p-2 m-0" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="inputUsername" class="form-label pt-3 fw-bold text-uppercase">Full name:</label><br> {{form.fullname}} <br>
                <label for="inputPassword" class="form-label pt-3 fw-bold text-uppercase m-0">Bio: </label><br><small class="fst-italic"> Optional</small><br> {{form.bio}} <br>
                <label for="inputPassword" class="form-label pt-3 fw-bold text-uppercase">Profile Image:</label><br>{{form.profile_pic}}
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    <input class="btn" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}