{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<title>Register</title>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center pt-5">
            <form action="." class="register-table p-2 m-0" method="POST">
                {% csrf_token %}
                <label for="inputUsername" class="form-label pt-3 fw-bold text-uppercase">Username:</label><br> {{form.username}} <br>
                <label for="inputPassword" class="form-label pt-3 fw-bold text-uppercase">Password:</label><br> {{form.password1}} <br>
                <div id="passwordHelpBlock" class="form-text">
                    <p class="m-0">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only. Password:</p>
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                <label for="inputPassword" class="form-label fw-bold text-uppercase">Repeat Password:</label><br> {{form.password2}}<br> {% for field in form %}{% for error in field.errors %}
                <small class="error-msg pt-3">{{error}}</small> {% endfor %} {% endfor %}
                <div class="d-grid gap-2 col-6 mx-auto pt-4">
                    <input class="btn" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}