* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: whitesmoke;
}

.navbar {
    background-color: #222f3e;
}

.nav-link-btn,
.btn {
    background-color: #5f27cd;
    border: 3px solid #5f27cd;
    border-radius: 5px;
    transition: 0.2s;
    color: white !important;
}

.nav-link-btn:hover,
.btn:hover {
    background-color: #341f97;
    color: white !important;
}

.register-table,
.login-table,
.profile-table {
    width: 30em;
    min-height: 30em;
    border-radius: 5px;
    border: 1px solid black;
    color: black !important;
    background-color: #c8d6e5;
}

input,
textarea {
    width: 100%;
}

.login-table {
    min-height: 17em;
}

.profile-table {
    min-width: 55em;
}

.error-msg {
    color: red;
}

.help-msg {
    color: grey;
}

a:hover {
    color: #5f27cd !important;
}