{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<script src="{% static 'posts/js/main.js' %}"></script>
<title>Detail</title>
{% endblock %} {% block content %}
<!-- user post -->
<div class="container-fluid user-post p-0 m-0">
    <div class="row post-section p-0 m-3">
        <div class="row topic-title-row ps-2 ms-0 mt-0 me-2 mb-0">
            <div class="col p-0">
                <p class="topic-name text-decoration-none fw-bold fs-4 text-uppercase p-0 m-0">
                    {{ post.get_title }}</p>
            </div>
        </div>
        <div class="row post-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
            <div class="col-1 user-info-col text-center py-1">
                {% if post.user.profile_pic %}
                <img src="{{post.user.profile_pic.url}}" alt="user-avatar" class="user-avatar"><br> {% else %}
                <img src="{% static 'media/user_avatars/happy_tux.jpg' %}" alt="user-avatar" class="user-avatar"><br> {% endif %}
                <a class="username text-decoration-none">{{ post.user.fullname }}</a><br>
                <small class="user-posts">Posts: {{post.user.num_posts}}</small>
            </div>
            <div class="col post-info-col p-2">
                <div class="row post-content h-75">
                    <p class="ms-1 mt-1">{{ post.content }}</p>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end align-bottom">
                        {% if post.user.id == request.user.id and request.user.is_authenticated and not post.closed %}
                        <button class="btn me-2" name="del" onclick="location.href='{% url 'delete-post' post.slug %}'">Delete</button>
                        <button class="btn" name="upd" onclick="location.href='{% url 'edit-post' post.slug %}'">Update</button>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comments -->
<h5 class="name text-uppercase bg-black text-center mb-0">Comments</h5>
{% if not request.user.is_authenticated %}
<h6 class="name bg-danger text-center ">Please Login in Order To Comment and Reply</h6>
{% endif %} {% for comment in post.comments.all %}
<div class="row comment-section p-0 m-3">
    <div class="row comment-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
        <div class="col-1 user-info-col text-center py-1">
            <img src="{{comment.user.profile_pic.url}}" alt="user-avatar" class="user-avatar"><br>
            <a class="username text-decoration-none">{{ comment.user.fullname }}</a><br>
            <small class="user-posts">Posts: {{comment.user.num_posts}}</small>
        </div>
        <div class="col comment-info-col p-2">
            <div class="row comment-content h-75">
                <p class="m-1 pe-3">{{ comment.content }}</p>
            </div>
            <div class="row reply-section text-end align-text-bottom">
                <div class="col reply">
                    {% if request.user.is_authenticated and is_author and not post.closed %}
                    <button class="btn" onclick="showReplies('{{comment.id}}')">Reply</button> {% endif %}
                    <div class="reply-div shadow p-3 mb-5 bg-white rounded mt-3" id={{comment.id}} style="visibility:hidden;">
                        <h5 class="info-tags ps-3 text-start">Reply Here:</h5>
                        <form action="." method="POST">
                            {% csrf_token %}
                            <div class="form-floating post-reply-div ps-3">
                                <textarea class="form-control w-100" placeholder="Leave a comment here" id="floatingTextarea" name="reply-content"></textarea>
                            </div>
                            <input name="comment-id" value="{{comment.id}}" type="hidden">
                            <button type="submit" class="btn ms-3 mt-3" name="post-a-reply">Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- replies -->
{% for reply in comment.replies.all %}
<div class="row replies-section p-0 m-3 ps-5 ">
    <div class="row replies-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
        <div class="col-1 user-info-col text-center py-1">
            <img src="{{reply.user.profile_pic.url}}" alt="user-avatar" class="user-avatar"><br>
            <a class="username text-decoration-none">{{ reply.user.fullname }}</a><br>
            <small class="user-posts">Posts: {{reply.user.num_posts}}</small>
        </div>
        <div class="col post-info-col p-2 h-75">
            <div class="row post-content">
                <p class="m-1 pe-3">{{ reply.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endfor %}

<!-- post a comment -->
{% if request.user.is_authenticated and is_author and not post.closed %}
<h5 class="info-tags ps-3">Comment Here:</h5>
<div class="row w-100">
    <div class="col">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-floating post-comment-div ps-3">
                <textarea class="form-control w-100 h-auto" placeholder="Leave a comment here" id="floatingTextarea" name="comment-content"></textarea>
            </div>
            <button type="submit" class="btn ms-3 mt-3" name="post-a-comment">Comment</button>
        </form>
    </div>
</div>
{% endif %} {% endblock %}