{% load static %} {% load hitcount_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'bs/css/bootstrap.css' %}" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/styles/homepage.css' %}">
    <title>Post</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold fs-3" href="{% url 'home' %}">forum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <a class="nav-link nav-link-btn px-3 py-1 me-2 fw-bold" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-btn px-3 py-1" href="#">Register</a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>

    <!-- user post -->
    <div class="container-fluid user-post p-0 m-0">
        <div class="row post-section p-0 m-3">
            <div class="row topic-title-row ps-2 ms-0 mt-0 me-2 mb-0">
                <div class="col p-0">
                    <p class="topic-name text-decoration-none fw-bold fs-4 text-uppercase p-0 m-0">{{ post.get_title }}</p>
                </div>
            </div>
            <div class="row post-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
                <div class="col-1 user-info-col text-center py-1">
                    <img src="{{post.user.profile_pic.url}}" alt="user-avatar" class="user-avatar">
                    <a href="" class="username text-decoration-none">{{ post.user.fullname }}</a>
                    <small class="user-points">Points: {{post.user.points}}</small><br>
                    <small class="user-posts">Posts: {{post.user.num_posts}}</small>
                </div>
                <div class="col post-info-col p-2">
                    <p class="post-content">{{ post.content|safe }}</p>
                    <div class="d-flex align-items-end flex-column hitpoints">Views: {% get_hit_count for post %}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- comments -->
    <h3 class="name text-uppercase ps-3 bg-black">Comments</h3>
    {% for comment in post.comments.all %}
    <div class="row comment-section p-0 m-3">
        <div class="row comment-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
            <div class="col-1 user-info-col text-center py-1">
                <img src="{{post.user.profile_pic.url}}" alt="user-avatar" class="user-avatar">
                <a href="" class="username text-decoration-none">{{ post.user.fullname }}</a>
                <small class="user-points">Points: {{comment.user.points}}</small><br>
                <small class="user-posts">Posts: {{comment.user.num_posts}}</small>
            </div>
            <div class="col comment-info-col p-2">
                <p class="comment-content">{{ comment.content|safe }}</p>
            </div>
        </div>
    </div>

    <!-- replies -->
    {% for reply in comment.replies.all %}
    <div class="row replies-section p-0 m-3 ps-5">
        <div class="row replies-info-row ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
            <div class="col-1 user-info-col text-center py-1">
                <img src="{{post.user.profile_pic.url}}" alt="user-avatar" class="user-avatar">
                <a href="" class="username text-decoration-none">{{ post.user.fullname }}</a>
                <small class="user-points">Points: {{reply.user.points}}</small><br>
                <small class="user-posts">Posts: {{reply.user.num_posts}}</small>
            </div>
            <div class="col reply-info-col p-2">
                <p class="reply-content">{{ reply.content|safe }}</p>
            </div>
        </div>
    </div>
    {% endfor %} {% endfor %}

</body>

</html>