{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<title>Posts</title>
{% endblock %} {% block content %}
<div class="container-fluid all-categories p-0 m-0">
    <div class="row category-section p-0 m-3">
        <div class="row category-name-row ps-2 ms-0 mt-0 me-2 mb-0">
            <div class="col-auto p-0">
                <p class="category-name text-decoration-none fw-bold fs-6 text-uppercase p-0 m-0">{{category.get_title}}</p>
            </div>
        </div>
        {% if posts %} {% for post in posts %} {% if not post.closed %}
        <div class="row post-info-row border border-dark ms-0 mt-1 me-2 mb-1 ps-0 pe-0">
            <div class="col-1 d-flex align-items-center post-icon-col py-1">
                <img src="{% static 'media/topic-icon.svg' %}" alt="topic-icon" class="topic-icon">
            </div>
            {% else %}
            <div class="row post-info-row border border-dark ms-0 mt-1 me-2 mb-1 ps-0 pe-0 bg-secondary">
                <div class="col-1 d-flex align-items-center post-icon-col py-1 ps-3">
                    <img src="{% static 'media/lock-line.svg' %}" alt="topic-icon" class="topic-icon">
                </div>
                {% endif %}
                <div class="col-8 post-info p-0 ps-2">
                    <a class="post-title fw-bold text-decoration-none m-0 fs-5" href="{% url 'detail' post.slug %}">{{post.title}}</a>
                    <p class="post-start fst-italic">{{post.get_snippet|striptags}}</p>
                    <small>by
                    <a class="last-post-user-link fw-bold text-decoration-none">{{post.user.fullname}}</a>
                    <p class="post-extra-info fst-italic text-decoration-none m-0">At {{post.date}} <br> Has {% get_hit_count for post %} views | {{post.num_comments}} comments </p>
                </small>
                </div>
                {% if post.last_reply %}
                <div class="col post-side-info border-start border-dark ps-1 p-1">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center m-0 p-0 fw-bold">Latest Reply</p>
                        </div>
                        <div class="col-2 m-1">
                            <img src="{{post.last_reply.user.profile_pic.url}}" alt="user-avatar" class="lr-user-avatar">
                        </div>
                        <div class="col-xxl-auto col-xl m-1">
                            <small><a class="username text-decoration-none">{{post.last_reply.user.fullname}}</a><br></small>
                            <small class="reply-extra-info fst-italic text-decoration-none m-0">At {{post.last_reply.date}}</small>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <style></style>
            {% endfor %} {% else %}
            <p class="post-nf fst-italic text-center">No posts found in this category</p>{% endif %}
        </div>
    </div>

    <div class="paginator m-3">
        <b class="ms-2 fst-italic">Pages:</b> {% for num_page in posts.paginator.page_range %} <a class="border border-dark mx-1 px-1" href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
    </div>
    {% endblock %}