{% extends "../forum/templates/forum/base.html" %} {% block head %} {% load static %} {% load hitcount_tags %}
<title>Update Post</title>
{% endblock %} {% block content %}
<div class="container-fluid update-post p-0 m-0">
    <div class="row update-post-section p-0 m-3 pb-2">
        <form class="update-post-form" method="POST">
            {% csrf_token %}
            <h1 class="text-uppercase">Update the fields</h1>
            {{form}}
            <div class="btn-div d-grid gap-2 col-1 pt-4">
                <input class="btn" type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
{% endblock %}